body{
    margin: 50px 700px;
}
.artist {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    padding-left: 40px;
}
.title {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 40px;
}
.text {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 40px;
    margin-top: 20px;
}